<!-- Mini Cart Start -->
<div class="baskettop">
  <div class="wrapper-top-cart">
    <a href="/cart" id="ToggleDown" class="icon-cart-arrow">
      {% if settings.header_style_1 == 'style_5' or settings.header_style_1 == 'style_7'   %}
      <i class="fas fa-shopping-basket"></i>
      <div class="detail">
        <div id="cartCount"> 
          {{ cart.item_count }}
        </div>
      </div>
      {% endif %}
      {% if settings.header_style_1 == 'style_1' %}
      <i class="fas fa-shopping-bag"></i>
      <div class="detail">
        <div id="cartCount"> 
          {{ cart.item_count }}
        </div>
        {% if cart.item_count == 0 or cart.item_count == 1 %}
        <span class="cartCountspan">{{ 'cart.general.item' | t }}</span>
        {% else %}  
        <span class="cartCountspan">{{ 'cart.general.items' | t }} </span>
        {% endif %}
        <div id="minicart_total">
          <span> {{ cart.total_price | money }}</span>
        </div>
      </div>
      {% endif %}
      {% if settings.header_style_1 == 'style_2' %}
     {{ 'cart.general.my_cart' | t  }}
      
      {% endif %}
       {% if settings.header_style_1 == 'style_4' or settings.header_style_1 == 'style_9' %}      
      <i class="fas fa-shopping-cart"></i>
      <div class="detail">
        <div id="cartCount"> 
          {{ cart.item_count }}
        </div>
        {% if cart.item_count == 0 or cart.item_count == 1 %}
        <span class="cartCountspan">{{ 'cart.general.item' | t }}</span>
        {% else %}  
        <span class="cartCountspan">{{ 'cart.general.items' | t }} </span>
       
        {% endif %}
        <div id="minicart_total">
         <span> {{ cart.total_price | money }}</span>
        </div>
      </div>
      {% endif %}
      {% if settings.header_style_1 == 'style_6' %}
       <div class="detail">
           <i class="fas fa-shopping-cart" aria-hidden="true"></i>
           <div class="mini-inner-detail-cart">
       {{ 'cart.general.mini_cart_title' | t }}
           <br>           
           <div class="mini-inner-detail">
         <div id="cartCount"> 
          {{ cart.item_count }}
        </div>
        {% if cart.item_count == 0 or cart.item_count == 1 %}
        <span class="cartCountspan">{{ 'cart.general.item' | t }}</span>
        {% else %}  
        <span class="cartCountspan">{{ 'cart.general.items' | t }} </span>
        {% endif %}
         <div id="minicart_total">
        -  <span> {{ cart.total_price | money_without_currency }}</span>
        </div>
           </div>
           </div>
      </div>
      {% endif %}
     
     
      {% if settings.header_style_1 == 'style_3'   %}
      <div class="detail">
        <div id="cartCount"> 
          {{ cart.item_count }} 
        </div>
      </div>
      {% endif %}
      
      {% if settings.header_style_1 == 'style_8'   %}
     <svg class="icon" xmlns:x="http://ns.adobe.com/Extensibility/1.0/" xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" xmlns:graph="http://ns.adobe.com/Graphs/1.0/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="-949 951 100 125" style="enable-background:new -949 951 100 100;" xml:space="preserve"><switch><foreignObject requiredExtensions="http://ns.adobe.com/AdobeIllustrator/10.0/" x="0" y="0" width="1" height="1"/><g i:extraneous="self"><g><path d="M-852.2,971.6c-0.6-0.8-1.5-1.2-2.5-1.2h-68.2l-2.3-10.5c-0.3-1.5-1.6-2.5-3.1-2.5h-14.9c-1.8,0-3.2,1.4-3.2,3.2     s1.4,3.2,3.2,3.2h12.4l13,59.4c0.3,1.5,1.6,2.5,3.1,2.5h50.5c1.8,0,3.2-1.4,3.2-3.2s-1.4-3.2-3.2-3.2h-47.9l-1.6-7.3h51.1     c1.5,0,2.8-1,3.1-2.5l8-35.2C-851.4,973.4-851.6,972.4-852.2,971.6z"/><circle cx="-870.8" cy="1037" r="7.6"/><circle cx="-907.9" cy="1037" r="7.6"/></g></g></switch></svg>
      <div id="cartCount"> 
        {{ cart.item_count }}
      </div>
      {% endif %}      
      {% if settings.header_style_1 == 'style_10' %}     
       <div class="detail">
           <div class="mini-inner-detail-cart">
             <i class="fas fa-shopping-cart"></i><span>{{ 'cart.general.mini_cart_title' | t }}</span> <div id="cartCount"> 
         ({{ cart.item_count }})
        </div>
           </div>
      </div>
        {% endif %}      
    </a> 
    <div id="slidedown-cart" style="display:none"> 
      <!--  <h3>{{ 'cart.general.mini_cart_title' | t }}</h3>-->
      <div class="no-items">
        <p>{{ 'cart.general.empty' | t }}</p>
        <p class="text-continue"><a class="btn" href="javascript:void(0)">{{ 'cart.general.continue_shopping' | t }}</a></p>
      </div>
      <div class="has-items">
        <ul class="mini-products-list">  
          {% for item in cart.items %}
          <li class="item" id="cart-item-{{item.id}}">
            <a href="{{item.url}}" title="{{item.title}}" class="product-image">
              <img src="{{ item.image | product_img_url: 'small' }}" alt="{{item.title}}"></a>
            <div class="product-details">
              <p class="product-name"><a href="{{item.url}}">{{ item.product.title }}
                {% if item.product.variants.size != 0 %}
                {% unless item.variant.title contains 'Default' %}
                {{ item.variant.title }}
                {% endunless %}
                {% endif %}</a></p>
              <div class="cart-collateral"><span class="price">{{item.price | money}}</span> x {{item.quantity}}</div>
            </div>
            <a href="javascript:void(0)" title="Remove This Item" class="btn-remove"><span class="fas fa-times"></span></a>
          </li>
          {% endfor %}
        </ul>
        <div class="summary">                
          <p class="total">
            <span class="label">{{ 'cart.general.cart_total' | t }}</span>
            <span class="price">{{cart.total_price | money}}</span> 
          </p>
        </div>
        <div class="actions">
          <button class="btn" onclick="window.location='/checkout'"><i class="fas fa-check"></i>{{ 'cart.general.checkout' | t }}</button>
          <button class="btn text-cart" onclick="window.location='/cart'"><i class="fas fa-shopping-basket"></i>{{ 'cart.general.view_cart' | t }}</button>
        </div>
      </div>
    </div>
  </div>
</div> <!-- End Top Header --> 